<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
		<h1>Be notified when we go live.</h1>
			</div>
			<div class="col-md-6">
		<%= render 'form' %>

		<%= link_to 'Back', creds_path %>
	</div>
	</div>
</div>