
<div class="jumbotron">
	<div class="container">
				<h1>Doing science better, together.</h1>
				<p>Worldwide observations and data from the palm of your hand.</p>
				<%= link_to "Be notified when we go live", new_cred_path, class: "btn btn-info btn-lg" %>
		</div>
	</div>
</div>

<section id="marketing">
	<div class="container marketing-header">
		<h1>A whole new world</h1>
		<p>More data means more progress</p>
		<div class="row">
			<div class="keys col-md-6">
				<h2>Explore</h2>
				<p>Explore myriad of unanswered science questions.</p>
			</div>

			<div class="keys col-md-6">
				<h2>Hypothesize</h2>
				<p>Got a burning question? Have it answered with the world.</p>
			</div>

			<div class="keys col-md-6">
				<h2>Observe</h2>
				<p>Use the app to provide consistent and objective observations to a hypothesis. By multiplying the data the science become more concrete.</p>
			</div>

			<div class="keys col-md-6">
				<h2>Discover</h2>
				<p>Science is about discovering new things, Having the ability to collaborate on a scale will deliver answers to questions that would previously taken years to answer.</p>
			</div>
	</div>
</section>

